/* header css */
header        {background: #ffcb85; left: 0; position: fixed; top: 0; width: 100%}
header h1, p  {font-family: courier sans-serif; font-size: 32px; margin-left: 35px}
header p      {font-size: 10px; margin-top: -21px}
/* container css */
.container {margin: 73px 0 0}
.menu      {border-right: 1px solid #ccc; display: inline-block; height: 100vh; padding-top: 2px; width: 15%}
.content   {display: inline-block; width: 83%}
/* DOM Element css */
a                     {color: #000; text-decoration: none}
ul                    {list-style-type: none}
ul li::before         {content: '> '}
li.activeLink         {font-weight: 700}
li.activeLink::before {content: ''}
/* btns */
.btn-submit                    {background: #c2f2d0}
.valueSubmitBtn, .getLeadsForm {display: inline}
/* res */
/*#loadResults {border: 1px solid #ccc; border-radius: 5px; width: 100%}*/
